<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Hello World</title>
	<link rel="stylesheet" href="">
	<style>
		tr, th, td {
			border: 1px solid black;
			padding: 5px;
		}
	</style>
</head>
<body>
	<h2>List Products</h2>
	<table>
		<tr>
			<th>STT</th>
			<th>Tên SP</th>
			<th>Giá</th>
			<th>AddtoCart</th>
		</tr>
		{% for item in products %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{item.name}}</td>
			<td>{{item.price}}</td>
			<td><a href="{% url 'cart_add' item.id %}">AddtoCart</a></td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>